@font-face {
	font-family:"anonymous pro";
	src: url("Anonymous Pro.ttf");
	font-weight: normal;
}

@font-face {
	font-family:"3270-font";
	src: url("3270-regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family:"Pc-9800";
	src: url("pc-9800.ttf");
	font-weight: normal;
}

body {
	font-family:"3270-font";
}

p {
	font-family:"anonymous pro";
}

.blog_listing {
	padding: 15px 400px 0px 400px;
	text-align: center;
}

.story #storytitle {
	text-align:center;
	font-size: 44px;
}

.storiestitle {
	text-align:center;
	font-size:30px;
}

.blog_title {
	font-style: italic;
	text-align:center;
	padding: 30px 0px 0px 0px;
}

.blog_listing p {
	text-align: left;
}

.b-top {
	text-align:center;
}

.blog_contents {
	text-align:left;
}


.links div {
        display: inline-block;
}

.story #demo {
	text-align:left;
	font-size:19px;
}

.story #demo p {
	text-align:left;
}

.links {
	text-align:center;
}


.top {
     display: block;
     text-align: center;
}

.top h1 {
     text-align: left;
     font-family: "Pc-9800";
}


.top h1:after {
  content: "|";
	font-family: "Terminal";
	font-size: 22px;
  animation: blink 1.25s infinite;
}


.top a {
     padding: 0px 10px 10px 0px;
     text-align: center;
}

a:visited, a:link {
     color: white;
}


body {
    color: white;
    background-color: black;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

#demo {
    text-align: center;
}


@keyframes blink {
    0% {opacity: 1;}
    1% {opacity: 0;}
    50% {opacity: 0;}
    51% {opacity: 1;}
}

.title {
	font-size: 23px;
}

.listing {
	display: block;
	padding: 15px 550px 0px 550px;
}

#divider {
	text-align:center;
}

.listing h1 {
	text-align: center;
	font-style: italic;
}

.listing p {
	text-align: left;
	font-size: 20px;
}

.listing a {
	text-color: white;
}

.listing a:visited, a:link {
	text-color: white;
}

.story {
	padding: 15px 450px 0px 450px;
        text-align: left;
	font-size: 20px;
}




@media only screen and (max-width: 910px) {

	.story, .listing, .blog_listing  {
	display: inline;
	}

	.story {
	text-align: left;
	}

	#divider {
	text-align:center;
	font-size: 13px;
	}
	img {
  	max-width: 100%;
  	height: auto;
	}
	.story, .blog_listing, .listing {
	padding: 0px 200px 0px 200px;
	font-size:16px;
	}
	.blog_contents p, .listing p {
	font-size:16px;
	}
	.blog_contents h1, .blog_title h1, .listing h1 {
	font-size: 30px;
	}
	.story p {
	font-size:18px;
	}
	code {
	font-size: 14px;
	}
	.story #demo {
	font-size: 13px;
	}
	.links {
	font-size: 14px;
	padding: 5px 0px 2px 0px;
	}
}



@media only screen and (max-width: 1536px) {
	.story, .blog_listing, .listing {
	padding: 0px 200px 0px 200px;
	}
	.story {
	font-size: 16px;
	}
}


@media only screen and (max-width: 1306px) {
	.story, .blog_listing, .listing {
	padding: 0px 200px 0px 200px;
	}
	.story {
	font-size: 20px;
	}
}
